

/* ---------- */
.cont{
    display: block;
}
.mimage{
    width: 80%;
    height: 580px;
    margin:auto;
    margin-bottom: -100px;
}
#mmm{
    margin-bottom: -250px;
}
.mimage>img{
    width:100%;
    
}
#mimg{
    height: 100%;
    margin-top: 5vw;
}
.masterslide{
    margin-top: 15vw;
}

.headingof{
    margin-bottom: 5px;
}