#mainOm {
    display: flex;
    letter-spacing: 0.8px;
    font-family: Arial, Helvetica, sans-serif;
   
    width: 90%;
    margin-left: -3%;
    margin-top: 5%;

  
  }
  
  .colm {
    height: 100px;
  
    background-color: aquamarine;
  
  }
  
  .colm1 {
    margin-left: 10px;
    width: 25%;
  
  }
  
  .colm2 {
    width: 20%;
  }
  
  .colm3 {
    /* border: 1px solid red; */
    width: 20%;
  }
  
  .li {
    margin-top: -20px;
  }
  
  .li2 {
    margin-top: -10px;
  }
  
  .Footerbtn {
    height: 35px;
    width: 150px;
    border: none;
  }
  
  .colm4>input {
    height: 30px;
    width: 275px;
    font-size: 16px;
    outline: none;
    border: 1px solid #dfdfdf;
  }
  
  .media {
    display: flex;
    gap: 18px;
    font-size: 20px;
  }
  
  .logo {
    height: 30px;
  }
  
  .heading {
    color: black;
  }
  
  .text {
    color: #666;
  }
  
  .colm1>div>p {
    margin: 2px;
  }
  
  .colm1 div {
    margin: 20px;
  }
  
  span {
    content: "\2713";
  }
  @media screen and (max-width: 750px) {
    #mainOm{
        margin-top: 30%;
        margin-left: -3%;
        width: 60%;
    }
    } 